@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(1);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    animation: fade-down 0.5s;
}
.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(images/wallpaperflare.com_wallpaper\ \(13\).jpg);
    background-size: cover;
    
    
}
.contact .content {
    max-width: 800px;
    text-align: center;
}
.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: white;
}
.contact .content p {
    font-weight: 300;
    color: white;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfor {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfor .box {
    position: relative;
    display: flex;
    padding: 20px 0;
}
.container .contactinfor .box .iconka {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactinfor .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfor .box .text h3 {
    font-weight: 500;
    color: skyblue;
}
.contactform {
    width: 40%;
    padding: 40px;
    background: #fff;
    border-radius: 25px;
}
.contactform h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .InputBox {
    width: 100%;
    position: relative;
    margin-top: 10px;
}
.contactform .InputBox input {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}
.contactform .InputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .InputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .InputBox input:focus ~ span {
    font-size: 12px;
    transform: translateY(-20px);
    color: lightcoral;
}
.contactform .InputBox input:valid ~ span {
    font-size: 12px;
    transform: translateY(-20px);
    color: lightcoral;
}
.contactform .InputBox textarea:focus ~ span {
    font-size: 12px;
    transform: translateY(-20px);
    color: lightcoral;
}
.contactform .InputBox textarea:valid ~ span {
    font-size: 12px;
    transform: translateY(-20px);
    color: lightcoral;
}
.contactform .InputBox input[type="submit"] {
    width: 100px;
    background: rgb(135, 206, 235);
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

}
header{
    top: 0;
    left:0;
    right:0;
    padding: 1rem 7%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
}

.heading{
    text-align: center;
    color: var(--red);
    margin-bottom: 3rem;
    font-size:4rem;
}

.btn{
    margin-top:1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--red);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background: var(--black);
    color: var(--red);
    letter-spacing: .1rem;
}

header .logo{
    color: #fff;;
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color: var(--red);

}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: #fff;
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--red);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
    border-radius: 50%;
    background:var(--red);
}

header .icons i:hover,
header .icons a:hover{
    color: var(--red);
    background: #fff;
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}

.search {
    position: relative;
    width: 300px;
    height: 40px;
}
.search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: aliceblue;
    background: transparent;
    border: 1 solid gray;
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px !important;
    backdrop-filter: blur(10px);
}
.search input::placeholder {
    color: aliceblue;

}

.search i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    padding-right: 10px;
    color: aliceblue;
    border-right: 1px solid aliceblue;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
    --red:#E50914;
    --black:#000000;
    --light-color:#181818;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}


*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
body{
    background-color:var(--light-color);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top:5.5rem;
}

section{
    padding: 2rem 9%;
}

