@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
    --red:#E50914;
    --black:#000000;
    --light-color:#181818;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(1);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    animation: fade-down 0.5s;
}
body{
    background-color:var(--light-color);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top:5.5rem;
}

section{
    padding: 2rem 9%;
}

section:nth-child(even){
    background:var(--light-color);
}



header{
    top: 0;
    left:0;
    right:0;
    padding: 1rem 7%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
}

.heading{
    text-align: center;
    color: var(--red);
    margin-bottom: 3rem;
    font-size:4rem;
}

.btn{
    margin-top:1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--red);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background: var(--black);
    color: var(--red);
    letter-spacing: .1rem;
}

header .logo{
    color: #fff;;
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color: var(--red);

}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: #fff;
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--red);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
    border-radius: 50%;
    background:var(--red);
}

header .icons i:hover,
header .icons a:hover{
    color: var(--red);
    background: #fff;
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}

.search {
    position: relative;
    width: 300px;
    height: 40px;
}
.search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: aliceblue;
    background: transparent;
    border: 1 solid gray;
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px !important;
    backdrop-filter: blur(10px);
}
.search input::placeholder {
    color: aliceblue;

}

.search i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    padding-right: 10px;
    color: aliceblue;
    border-right: 1px solid aliceblue;
}


.home{
    padding:0;
}

.home .box{
    min-height: 100vh;
    display:-webkit-box;
    display:-ms-flexbox;
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    justify-content:flex-end;
    padding:2rem 9%;
}

.home .box{
    justify-content: flex-start;
}

.home .box.second{
    justify-content: flex-start;
}

.home .box .content{
    width:50rem;
}

.home .box .content h3{
    font-size: 6rem;
    color: #fff;
    padding-top: .5rem;
    text-transform: uppercase;
}

.home .box .content p{
    line-height: 2;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.anime{
    padding:5rem;
}

.anime .box{
    width: 299px;
    height:168px;
    background-size: cover !important;
}

.movie-title {
    max-width: 350px;
}



.anime .content h3{
    font-size: 1.7rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.anime .content P{
    font-size: 1.2rem;
    color:#fff;
    text-decoration: none;

}


.copyright{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright .logo{
    color: var(--red);
    font-size: 2.1rem;
    font-weight: bolder;
}

.copyright p{
    font-size: 0.9rem;
    color: var(--red);
    font-size:2rem;
}




.about{
    margin-top:2rem;
    color: #fff;;
}

.about h2{
    display: inline-flex;
    font-size: 2.4rem;
    font-weight: 500;
    border-bottom: 4px solid var(--red);
    color:#ffffff;
}

.about p{
    display: inline-flex;
    font-size: 2rem;
    color:#ffffff;
    text-align: justify;
    text-decoration: none;
}




.swiper-slide .box .content .button {
    position: relative;
}
.swiper-slide .box .content .button a {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: var(--primary);
    color: aliceblue;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
}
.swiper-slide .box .content .button a:nth-child(2) {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(55, 55, 55);
}
.swiper-slide .box .content .button a:hover:nth-child(2) {
    background: var(--primary)
}
.swiper-slide .box .content .button a:nth-child(1) {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(55, 55, 55);
}
.swiper-slide .box .content .button a:hover:nth-child(1) {
    background: var(--primary)
}

.contact-container {
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}
.contact-container a {
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    margin-left: 30px;
    transition: transform 0.3s ease;
}
#youtube:hover {
    color: #E50914;
}
#insta:hover {
    color: #b209e5;
}
#telega:hover {
    color: #0961e5;
}


h2 {
    text-align: center;
    color: #333;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 150px;
    margin-bottom: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    font-size: 16px;
}

th {
    background-color: #ffcc00;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

tr:hover {
    background-color: #f0f0f0;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 8;
}

.modal-content {
    border-radius: 5px;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.modal-video {
    max-width: 70%; 
    height: auto;
    position: absolute;
    left: 250px;
    bottom:80px;
}





